<p id="notice"><%= notice %></p>

<h1>Observations</h1>

<table>
  <thead>
    <tr>
      <th>
        Time
      </th>
      <% Station.all.each do |o| %>
        <th><%= link_to o.gsub('-', ' ').humanize, observation_path(o) %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @observations.each do |o| %>
      <tr>
        <td>
          <%= o.time %>
        </td>
        <% Station.all.each do |k| %>
          <td>
            <% if o.data.present? && o.data[k].present? && o.data[k]["speed"].present? %>
              <%= o.data[k]["speed"] %> (<%= o.data[k]["direction"]%>)
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
