<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col">
    <h3><%= @station.gsub('-', ' ').titleize %></h3>
  </div>
</div>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<p>
  <h5>Wind Speeds</h5>
  <%= line_chart @speeds, ytitle: "km/h", height: "350px", min: 0, max: 40 %>
</p>

<p>
  <h5>Wind Directions</h5>
  <%= timeline @directions, height: "400px" %>
</p>
