<p id="notice"><%= notice %></p>

<h3><%= @station.gsub('-', ' ').humanize %></h3>
<hr>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<p>
  <h5>Wind Speeds</h5>
  <%= line_chart @speeds, ytitle: "km/h" %>
</p>

<p>
  <h5>Wind Directions</h5>
  <%= timeline @directions, height: "400px" %>
</p>

<%= link_to 'Back', observations_path %>
