<p id="notice"><%= notice %></p>

<h1><%= @station.gsub('-', '').humanize %></h1>

<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<p>
  <strong>Wind Speeds:</strong>
  <%= line_chart @speeds %>
</p>

<p>
  <strong>Wind Directions:</strong>
  <%= timeline @directions %>
</p>

<%= link_to 'Back', observations_path %>
